body
{
    padding-top:                50px;
}

.starter-template
{
    padding:                    40px 15px;
    text-align:                 center;
}

table#networks
{
    text-align:                 left;
    width:                      80%;
}

table#networks td
{
    padding:                    0 5px;
}

table#networks tbody tr:hover
{
    background-color:           #ccc;
}
